<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="static/style2.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic"
    rel="stylesheet" />
  <link rel="stylesheet" href="Stylesheets/style.css" />

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Featured</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section class="top-exams" id="top-exam">
        <div class="explore-h1">
          <h1>Top Exams</h1>
        </div>
    
        <div class="row">
          <div class="top-exam-card">
            <div class="exam-card-1">
              <h1>JEE MAIN</h1>
              <p>JEE Main is a National level test conducted for B.E./BTech and B.Arch admissions after class 12.</p>
              <p class="read-more"><a href="https://jeemain.nta.ac.in/">Read More..</a></p>
            </div>
            <div class="top-exam-card-links">
              <p><a href="https://jeemain.nta.ac.in/images/Final_Answer_Key_P1_12022024.pdf">JEE MAIN 2024 Answer Key</a></p>
            </div>
          </div>
          <div class="top-exam-card">
            <div class="exam-card-1">
              <h1>NEET</h1>
              <p>National Eligibility Entrance Test (NEET) is an all India level entrance examination for admission into
                MBBS, BDS and other medical courses after class 12.</p>
              <p class="read-more"><a href="https://exams.nta.ac.in/NEET/">Read More..</a></p>
            </div>
            <div class="top-exam-card-links">
              <p><a href="https://dcx0p3on5z8dw.cloudfront.net/Aakash/s3fs-public/pdf_management_files/target_solutions/Answer%20%26%20Solution_NEET-2023%20%28Code-E1%29_Final.pdf">NEET 2024 Answer Key</a></p>
            </div>
          </div>
          <div class="top-exam-card">
            <div class="exam-card-1">
              <h1>COMEDK</h1>
              <p>COMEDK UGET is a state level exam conducted for Engineering admissions in colleges affiliated to COMEDK.
              </p>
              <p class="read-more"><a href="https://www.comedk.org/">Read More..</a></p>
            </div>
            <div class="top-exam-card-links">
              <p><a href="https://www.comedk.org/index">COMEDK 2024 Answer Key</a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="top-exam-card">
            <div class="exam-card-1">
              <h1>CET</h1>
              <p>The MHT-CET or Common Entrance Test is an annual entrance exam conducted by the Government of Maharashtra. It is conducted by the Directorate of Technical Education</p>
               <p class="read-more"><a href="https://cetonline.karnataka.gov.in/kea/">Read More..</a></p>
            </div>
            <div class="top-exam-card-links">
              <p><a href="https://cetonline.karnataka.gov.in/kea/">CET 2024 Answer Key</a></p>
            </div>
          </div>
          <div class="top-exam-card">
            <div class="exam-card-1">
              <h1>JEE ADVANCED</h1>
              <p>Joint Entrance Examination – Advanced, is an academic examination held annually in India that tests the skills and knowledge of the applicants in physics, chemistry and maths</p>
              <p class="read-more"><a href="https://jeeadv.ac.in/">Read More..</a></p>
            </div>
            <div class="top-exam-card-links">
              <p><a href="https://jeeadv.ac.in/">JEE ADVANCED 2024 Answer Key</a></p>
            </div>
          </div>
        </div>
      </section>
    
      <section class="exam-2">
        <div class="qw1">
          <a href="https://exams.nta.ac.in/NEET/"><div class="qwe">NEET</div></a>
          <a href="https://jeemain.nta.ac.in/"><div class="qwe">JEE-Main</div></a>
          <a href="https://jceceb.jharkhand.gov.in/"><div class="qwe">JCECE</div></a>
          <a href="http://tancet.annauniv.edu/"><div class="qwe">TANCET</div></a>
          <a href="https://gate2024.iisc.ac.in/"><div class="qwe">GATE</div></a>
          <a href="https://cucet.cuchd.in/"><div class="qwe">CUCET</div></a>
          <a href="https://consortiumofnlus.ac.in/"><div class="qwe">CLAT</div></a>
          <a href="https://wbjeeb.nic.in/"><div class="qwe">WBJEE</div></a>
          <a href="https://bceceboard.bihar.gov.in/"><div class="qwe">BCECE</div></a>
          <a href="https://www.aiimsexams.ac.in/"><div class="qwe">AIMS-MBBS</div></a>
          <a href="https://iimcat.ac.in/"><div class="qwe">CAT</div></a>
          <a href="https://cets.apsche.ap.gov.in/EAPCET/"><div class="qwe">AP-EAMCET</div></a>
          <a href="https://viteee.vit.ac.in/"><div class="qwe">VITEEE</div></a>
        </div>
    
        <div class="qw1">
          <a href="https://jeeadv.ac.in/"><div class="qwe">JEE-Advanced</div></a>
          <a href="https://nest.lpu.in/"><div class="qwe">LPUNEST</div></a>
          <a href="http://www.ipu.ac.in/"><div class="qwe">IPU-CET</div></a>
          <a href="https://cetonline.karnataka.gov.in/kea/"><div class="qwe">KCET</div></a>
          <a href="https://tseamcet.nic.in/"><div class="qwe">TS-EAMCET</div></a>
          <a href="https://www.nata.in/"><div class="qwe">NATA</div></a>
          <a href="https://natboard.edu.in/viewnbeexam?exam=neetmds"><div class="qwe">NEET-MDS</div></a>
          <a href="https://ojee.nic.in/"><div class="qwe">OJEE</div></a>
          <a href="https://www.mba.com/exams/gmat-exam"><div class="qwe">GMAT</div></a>
          <a href="https://leetcode.com/"><div class="qwe">LEET</div></a>
         <a href="https://cee.kerala.gov.in/kmat2024/"><div class="qwe">KMAT-KERALA</div></a>
        </div>
        <div class="qw1">
          <a href="https://www.snaptest.org/"><div class="qwe">SNAP</div></a>
          <a href="https://cetcell.mahacet.org/"><div class="qwe">MAHCET</div></a>
          <a href="https://cetonline.karnataka.gov.in/kea/"><div class="qwe">PGCET</div></a>
          <a href="https://jam.iitm.ac.in/"><div class="qwe">IIT-JAM</div></a>
          <a href="https://ielts.org/"><div class="qwe">IELTS</div></a>
          <a href="https://ereg.ets.org/ereg/public/jump?_p=GRI"><div class="qwe">GRE</div></a>
         <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjnr6nxs5yFAxXdxkwCHVsxAEQYABABGgJ0bQ&ase=2&gclid=Cj0KCQjw8J6wBhDXARIsAPo7QA92Jh9wRnKPuxDhYkbfG0CUH568KXgRgOSXjzdmIfIx7zDHCmyahJsaAl0cEALw_wcB&ohost=www.google.com&cid=CAESVeD2Dr1WyIahoaFwq6HFoPiX7XA2Dzg2ZFtlPUwne5ZkqppAfhCmdZOfWw5NA2veYWqkDQZFjBWe6uRC4mlf1-AsV38oPrOZlt01Nn0V1x7G7WJCo1Q&sig=AOD64_1AB-NVQkZKIcpJ_7IS_uLX8svCUQ&q&nis=4&adurl&ved=2ahUKEwiDjaTxs5yFAxWtY_UHHVJxAWsQ0Qx6BAgLEAE"><div class="qwe">TOEFL</div></a>
        <a href="https://cetcell.mahacet.org/"><div class="qwe">MHT-CET</div></a>
        <a href="https://www.cbse.gov.in/"><div class="qwe">CBSE 12</div></a>
          <a href="https://www.cbse.gov.in/"><div class="qwe">CBSE 10</div></a>
        </div>
        </div>
      </section>
    <script src="static/script.js"></script>
</body>
</html>