<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/style2.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic"
    rel="stylesheet" />
  <link rel="stylesheet" href="Stylesheets/style.css" />

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <title>Featured</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <section class="featured" id="featured">
    <div class="explore-h1">
      <h1>TOP FEATURED COLLEGES OF INDIA</h1>
    </div>
    <div class="explore-p">
      <p>
        EduChat is an website for the students,
        parents, and education industry players who are seeking information
      </p>
    </div>
    <div class="row">
      <a href="/iitm">
        <div class="featured-card">
          <div class="featured-card-img-1 fci">
            <div class="ratings">
              REVIEWS RATINGS
              <div class="heart">
                <i class="fa fa-heart"></i>
              </div>
            </div>
            <div class="college-name">
              <p class="college-name-p">Indian Institute of Technology - [IIT Madras]</p>
              <p class="college-name-city">Chennai, Tamil Nadu</p>
            </div>
          </div>
          <div class="featured-course-name">
            <p>BTech</p>
          </div>
          <div class="featured-fees">
            18 Lakh Total Fees
            <a href="#">View all courses and fees</a>
          </div>
        </div>
      </a>
      <a href="/iitd">
        <div class="featured-card">
          <div class="featured-card-img-2 fci">
            <div class="ratings">
              REVIEWS RATINGS
              <div class="heart">
                <i class="fa fa-heart"></i>
              </div>
            </div>
            <div class="college-name">
              <p class="college-name-p">Indian Institute of Managment - [IIT Delhi]</p>
              <p class="college-name-city"> New Delhi</p>
            </div>
          </div>
          <div class="featured-course-name">
            <p>BTech</p>
          </div>
          <div class="featured-fees">
            18 Lakh Total Fees
            <a href="#">View all courses and fees</a>
          </div>
        </div>
      </a>
      <a href="/iitb">
        <div class="featured-card">
          <div class="featured-card-img-3 fci">
            <div class="ratings">
              REVIEWS RATINGS
              <div class="heart">
                <i class="fa fa-heart"></i>
              </div>
            </div>
            <div class="college-name">
              <p class="college-name-p">Indian Institute of Managment - [IIT Bombay]</p>
              <p class="college-name-city">Bombay, Maharashtra</p>
            </div>
          </div>
          <div class="featured-course-name">
            <p>BTech</p>
          </div>
          <div class="featured-fees">
            23 Lakh Total Fees
            <a href="#">View all courses and fees</a>
          </div>
        </div>
      </a>
    </div>
    <div class="row">
      <a href="/iitk">
        <div class="featured-card">
          <div class="featured-card-img-4 fci">
            <div class="ratings">
              REVIEWS RATINGS
              <div class="heart">
                <i class="fa fa-heart"></i>
              </div>
            </div>
            <div class="college-name">
              <p class="college-name-p">Indian Institute of Managment - [IIT Kanpur]</p>
              <p class="college-name-city">Kanpur, Uttar Pradesh</p>
            </div>
          </div>
          <div class="featured-course-name">
            <p>BTech</p>
          </div>
          <div class="featured-fees">
            24 Lakh Total Fees
            <a href="#">View all courses and fees</a>
          </div>
        </div>
      </a>
      <a href="/iitr">
        <div class="featured-card">
          <div class="featured-card-img-5 fci">
            <div class="ratings">
              REVIEWS RATINGS
              <div class="heart">
                <i class="fa fa-heart"></i>
              </div>
            </div>
            <div class="college-name">
              <p class="college-name-p">Indian Institute of Technology - [IIT Roorkee]</p>
              <p class="college-name-city">Roorkee, Uttarkhand</p>
            </div>
          </div>
          <div class="featured-course-name">
            <p>Btech</p>
          </div>
          <div class="featured-fees">
            23 Lakh Total Fees
            <a href="/iitr">View all courses and fees</a>
          </div>
        </div>
      </a>
      <a href="/aims">
        <div class="featured-card">
          <div class="featured-card-img-6 fci">
            <div class="ratings">
              REVIEWS RATINGS
              <div class="heart">
                <i class="fa fa-heart"></i>
              </div>
            </div>
            <div class="college-name">
              <p class="college-name-p">All India Institute Of Medical science - [AIIMS Delhi]</p>
              <p class="college-name-city">New Delhi</p>
            </div>
          </div>
          <div class="featured-course-name">
            <p>MBBS</p>
          </div>
          <div class="featured-fees">
            65 Lakh Total Fees
            <a href="#">View all courses and fees</a>
          </div>
        </div>
      </a>
    </div>

  </section>
  <script src=".static/script.js"></script>
</body>

</html>